
<div class="col-md-4">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a class="nav-link active" href="@Url.Action("ListManagement", "Home")"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;All Lists</a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("CreateList", "List")"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Create List</a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("ShowCompleteList", "List")"><i class="fa fa-object-group" aria-hidden="true"></i>Complete Lists</a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("ShowSubscribedList", "List")"><i class="fa fa-object-ungroup" aria-hidden="true"></i>Subscribed Lists</a>
        </li>
    </ul>
</div>
