
@{
    ViewBag.Title = "CreateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-offset-2">
    <h2>CreateList</h2>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">@Html.ActionLink("Open Lists", "ListManagement", "Home", new { @class = "nav-link active" },null)</li>
        <li class="nav-item">@Html.ActionLink("Create List", "CreateList", "List", new { @class = "nav-link" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Completed Lists", "ShowCompleteList", "List", new { @class = "nav-link" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Subscribed Lists", "ShowSubscribedList", "List", new { @class = "nav-link" }, null)</li>
    </ul>
    <form>
        <div class="form-group row">
            <label for="list-title" class="col-xs-2 col-form-label">Title</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="list-title" aria-describedby="emailHelp" placeholder="Enter title">
                <small id="titleHelp" class="form-text text-muted">You may change the title later.</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="selectListType" class="col-xs-2 col-form-label">Select List Type</label>
            <div class="col-xs-10">
                <select class="form-control" id="selectListType">
                    <option>Basic</option>
                    <option>Grocery</option>
                    <option>To Do</option>
                    <option>Task</option>
                </select>
                <small id="titleHelp" class="form-text text-muted">*Required</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="selectItemGroup" class="col-xs-2 col-form-label">Select Item Group</label>
            <div class="col-xs-10">
                <select class="form-control" id="selectItemGroup">
                    <option>Grocery Items</option>
                    <option>Stationary</option>
                    <option>Bill Items</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="selectSubscriberGroup" class="col-xs-2 col-form-label">Select Subscriber Group</label>
            <div class="col-xs-10">
                <select multiple class="form-control" id="selectSubscriberGroup">
                    <option>Family</option>
                    <option>Friends</option>
                    <option>Co-workers</option>
                    <option>Students</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="subscriberTextarea" class="col-xs-2 col-form-label">Subscribers</label>
            <div class="col-xs-10">
                <textarea class="form-control" id="subscriberTextarea" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="itemTextarea" class="col-xs-2 col-form-label">Items</label>
            <div class="col-xs-10">
                <textarea class="form-control" id="itemTextarea" rows="4"></textarea>
            </div>
        </div>
        <label for="itemTextarea" class="col-xs-2 col-form-label"></label>
        <div class="col-xs-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>