
@{
    ViewBag.Title = "ShowListDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Home/Sidebar.cshtml");
<div class="col-sm-offset-2">
    <h2>List Details</h2>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">@Html.ActionLink("Open Lists", "ListManagement", "Home", new { @class = "nav-link active" })</li>
        <li class="nav-item">@Html.ActionLink("Create List", "CreateList", "List", new { @class = "nav-link" })</li>
        <li class="nav-item"><a href="#">Completed Lists</a></li>
        <li class="nav-item"><a href="#">Subscribed Lists</a></li>
    </ul>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Open Lists</a></li>
        <li class="breadcrumb-item active">My Grocery</li>
    </ol>
    <h3>My Grocery</h3>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>List Item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Avacado x 2</td>
            </tr>
            <tr>
                <td>Paper towel x 9</td>
            </tr>
            <tr>
                <td>Oranges</td>
            </tr>
            <tr>
                <td>Cake Mix</td>
            </tr>
            <tr>
                <td>Whip Cream</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>Subscriber</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Greg Willow</td>
            </tr>
            <tr>
                <td>Alan Wong</td>
            </tr>
            <tr>
                <td>Alice Smith</td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("Back to Lists", "ListManagement", "Home", new { @class = "btn btn-primary" })

</div>