
@{
    ViewBag.Title = "ShowCompleteList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/List/_ListSideBar.cshtml")
<div class="col-md-10">
    <h2>Completed Lists</h2>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Completed Lists</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>St.Patrick's Day Party Supply</td>
                <td>
                    <a class="btn btn-warning"><em class="fa fa-eye"></em></a>
                    <a class="btn btn-primary">Open</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>BCIT SSD Program Registration</td>
                <td>
                    <a class="btn btn-warning"><em class="fa fa-eye"></em></a>
                    <a class="btn btn-primary">Open</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Set up personal website</td>
                <td>
                    <a class="btn btn-warning"><em class="fa fa-eye"></em></a>
                </td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("Back to Lists", "ListManagement", "Home", new { @class = "btn btn-primary" }, null)
</div>