
@{
    ViewBag.Title = "ShowListDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/List/_ListSideBar.cshtml")
<div class="col-md-10">
    <h2>List Details</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Open Lists</a></li>
        <li class="breadcrumb-item active">My Grocery</li>
    </ol>
    <h3>My Grocery</h3>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>List Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Avacado x 2</td>
                <td>$2.50</td>
            </tr>
            <tr>
                <td>Paper towel x 9</td>
                <td>$2.50</td>
            </tr>
            <tr>
                <td>Oranges</td>
                <td>$9.99</td>
            </tr>
            <tr>
                <td>Cake Mix</td>
                <td>$13.50</td>
            </tr>
            <tr>
                <td>Whip Cream</td>
                <td>$15.00</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>Subscriber</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Greg Willow</td>
                <td>Subscriber</td>
            </tr>
            <tr>
                <td>Alan Wong</td>
                <td>Subscriber</td>
            </tr>
            <tr>
                <td>Alice Smith</td>
                <td>Collaborator</td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("Back to Lists", "ListManagement", "Home", null, new { @class = "btn btn-primary"})

</div>