/*
    font-family: 'Rubik', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Anton', sans-serif;
*/

/*  link-colors */
a,
a:visited {
    color:orangered;
}

/*  button-colors */
.btn-bk {
    background-color:black !important;
    color:white;
}

/*  text-styles */
h1, h2, h3, h4, h5, p, a, label, button {
    font-family: 'Rubik', sans-serif;
}

#coupon h3 {
    text-align: center;
}

input {
    font-family: 'Rubik', sans-serif;
}

.text-red {
    color:orangered;
}

/*  footer */
footer {
    margin-top: 30px;
    color: slategrey;
}

/* nav bar */
@media(max-width:768px) {
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color:#222;
    }
    .navbar-inverse .navbar-nav>li>a:hover {
        background-color:#333 !important;
    }
}

/* recaptach */
.g-recaptcha > div {
    margin: 0 auto;
    margin-top: 20px;
}

/* coupons */
#coupon > ul > div {
    background-color: #ededed;
    color: black;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* forms */
.form-control {
    height: 45px !important;
    border-radius: 15px;
}

body {
    /*background-color: white !important;*/
}

@media(max-width:768px) {
    body {
        padding-top: 0;
    }
}

#page-wrapper {
    border-radius: 15px;
    box-shadow: 1px 1px 3px #777777;
}
#coupon {
     /*border-left:1px solid #ededed;*/
}


li.nav-item {
    background-color: #222222;
    border-right:1px solid white;
}

li.nav-item a{
    color: white;
    border-radius: 0;
}

li.nav-item a:hover{
    color: #337ab7;
    background-color: black;
}

.breadcrumb {
    background-color: transparent;
}

.navbar {
    height: 60px;
}

.navbar-brand {
    background-image:url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 100px 25px !important;
    width: 100px;
    background-position: 0 8px !important;
}

a.navbar-brand {
    color: transparent !important;
    margin-top: 10px;
    margin-left: 20px !important;
}

.navbar-nav li a {
    line-height: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;
    border-radius: 0;
}

.side-nav li a {
    text-align: left;
}

.navbar-nav li a i {
    margin-right: 15px;
}

table {
    margin-top: 20px;
}

td {
    border-bottom: 0px solid #222;
}

.table>thead>tr>th {
    border-bottom: 1px solid #222;
}

img {
    margin-right: 20px;
}

footer {
    text-align:center;
}

.mainDiv {
    text-align:center;
}


.fa-user-circle-o {
    padding: 0;
    margin: 0 auto;
}

.nav li {
    text-align:center;
}

#dropdownMenu1 {
    margin-top:18px;
}

@media(max-width:768px){
    #dropdownMenu1 {
        display: none;
    }
}
@media(min-width:768px) {


    .navbar-left {
        padding-top: 15px;
        padding-left: 20px;
    }

        .navbar-left li a {
            background-color: #444444;
            border-radius: 15px;
            color: white !important;
            line-height: 1 !important;
            padding: 7px;
            margin-left: 10px;
            transition: 0.5s;
            border: 2px solid black;
        }

            .navbar-left li a:hover {
                border: 2px solid white;
            }


    .collapse.navbar-collapse.navbar-ex1-collapse {
        float: left;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 96%;
        margin: 0 auto;
    }
}

.form-signin .form-control {
    margin: 15px auto 0;
}


.btn-signin {
    margin-bottom: 15px;
}

.btn-register {
    margin-top: 15px;
}

.forget-pw {
    padding-right: 10%;
    margin-bottom: 40px;
}

.project-description {
    font-family: 'Rubik','Anton', sans-serif;
    width: 90%;
    margin: 20px 5%;
    border-radius: 15px;
    background-color: white;
    padding: 20px;

}
.project-description h1 {
    margin-bottom: 20px;
}

.project-description table {
    max-width: 500px;
    border: 2px solid slategrey;
}

.project-description .table > thead > tr >th {
    background-color: slategrey;
    color:white;
    border-bottom: 2px solid slategrey !important;
}

.project-description table td {
    color:slategrey;
}

@media(max-width:768px) {
    #coupons {
        padding-left: 0 !important;
    }
}


.container > .col-md-8 {
    background-color: white !important;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #999;
    padding: 15px;
}

/* individual backend pages */
.container {
    max-width: 1200px;
}

@media(max-width:992px) {

    .side-nav {
        width: 100%;
        background-color: transparent !important;
        box-shadow: none !important;
        padding-left: 15px !important;
        margin-bottom: 15px;
    }
}
/* --------------table styles-------------------*/
td .btn {
    margin-bottom: 7px;
}
@media only screen and (max-width: 1000px) {
	
	.table-collapse, 
	.table-collapse thead, 
	.table-collapse tbody, 
	.table-collapse th, 
	.table-collapse td, 
	.table-collapse tr { 
		display: block; 
	}
 
	.table-collapse thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.table-collapse tr { border: 1px solid #ccc; }
 
	.table-collapse td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 100px !important; 
		white-space: normal;
		text-align:left;
	}
 
	.table-collapse td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	.table-collapse td:before { content: attr(data-title); }
}

