
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-offset-2">
    <h2>Change Password</h2>
      <table class="table table-inverse" style="float:left ; width:100%">
        <thead>
            <tr>
                <th>Information</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Current Password:</b></td>
                <td><input type="password" /></td>
            </tr>
            <tr>
                <td><b>New Password:</b></td>
                <td><input type="password" /></td>
            </tr>
            <tr>
                <td><b>Confirm Password:</b></td>
                <td><input type="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-primary">Save New Password</button></td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("Return to Profile Information", "Index", "Profile")
</div>