
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-offset-2">
    <h2>Profile Information</h2>
    <h3 for="selectItemGroup" style="float:left; width:100%; text-align:center">Edit Information</h3>
    <img src="https://kenanfellows.org/wp-content/uploads/2016/02/blank-profile-picture-973460_960_720.png" style="float:left ; width:50%; width:200px; height:200px;" />
    <table class="table table-inverse" style="float:left ; width:50%">
        <thead>
            <tr>
                <th>Information</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>FirstName</b></td>
                <td><input type="text" value="Paul" /></td>
            </tr>
            <tr>
                <td><b>LastName</b></td>
                <td><input type="text" value="Mills" /></td>
            </tr>
            <tr>
                <td><b>BirthDate</b></td>
                <td><input type="text" value="1966/09/23" /></td>
            </tr>
            <tr>
                <td><b>email</b></td>
                <td><input type="text" value="paul.mills@bcit.ca" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Profile")';return false;">Save Changes</button></td>
            </tr>
        </tbody>
    </table>
</div>