<ul class="nav nav-pills nav-justified">
    <li class="nav-item">@Html.ActionLink("Avaliable Items", "ItemManagement", "Item", new { @class = "nav-link active" }, null)</li>
    <li class="nav-item">@Html.ActionLink("Create Item", "CreateItem", "Item", new { @class = "nav-link" }, null)</li>
    <li class="nav-item">@Html.ActionLink("Avaliable Item Group", "ItemCategoryManagement", "Item", new { @class = "nav-link" }, null)</li>
    <li class="nav-item">@Html.ActionLink("Create Item Group", "CreateItemCategory", "Item", new { @class = "nav-link" }, null)</li>
</ul>
