
@{
    ViewBag.Title = "CreateItemGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Item/_ItemPageTopNav.cshtml")
<div class="col-md-10">
    <h2>Create Item Group</h2>
    <form>
        <div class="form-group">
            <label for="list-title" class="col-xs-2 col-form-label">Group Name</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="list-title" aria-describedby="emailHelp" placeholder="Enter group name" required>
            </div>
        </div><br />
        <div class="form-group">
            <label for="subscriberTextarea" class="col-xs-2 col-form-label">Description</label>
            <div class="col-xs-10">
                <textarea class="form-control" id="subscriberTextarea" rows="4"></textarea>
            </div>
        </div><br />
        <label for="itemTextarea" class="col-xs-2 col-form-label"></label>
        <div class="col-xs-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

