@model IEnumerable<OneListApplication.ViewModels.ListViewVM>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/app.js"></script>
<script>
    window.onload = function ()
    {
      getCoupons();
      var timer=  setInterval(getCoupons, 30000);

    }
</script>
@*<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['List Catagory', 'Number'],
          ['Work', 11],
          ['Family', 8],
          ['Social', 4],
          ['Others', 4]
        ]);

        var options = {
            title: 'My List Status'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>*@
<main>
<div class="col-md-12">
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            Hey, @Html.Raw(User.Identity.Name)
                        </h2>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row" id="listType">
                    <div class="col-md-12 col-sm-12">
                        <!-- Display lists if any-->
                        @if (Model.Count() > 0)
                        {
                            @Html.Partial("~/Views/List/ShowAllList.cshtml", Model)
                        }
                        <h4>To Do</h4>
                        <p>*Please get the lastest build</p>
                        <p>*Will be on slack tonight for any fixes needed</p>
                        <ul>
                            <li><a href="#">List-Sidebar: Complete Lists tab unused?(X)</a></li>
                            <li><a href="#">List-Create: Error when adding multiple group(X)</a></li>
                            <li><a href="#">List-Create: Redirect after succesfully adding list(X)</a></li>
                            <li><a href="#">List-Edit: Make List Role not input, should not edit</a></li>
                            <li><a href="#">List-Edit: Cannot edit list name(X)</a></li>
                            <li><a href="#">List-Edit: Cannot edit list type(X)</a></li>
                            <li><a href="#">List-Edit: Cannot edit list subscriber groups(X)</a></li>
                            <li><a href="#">List-Edit: Blue 'check' button not working(X)</a></li>
                            <li><a href="#">List-Edit: Cannot complete list(X)</a></li>
                            <li><a href="#">API: Show Retailer on API(X)</a></li>
                            <li><a href="#">API: Only show valid coupons(X)</a></li>
                            <li><a href="#">API: Add scroll(X)</a></li>
                            <li><a href="#">Validation: Add Validation/Error message for all(N)</a></li>
                            <li><a href="#">Validation: User Profile Edit no server side validation(N)</a></li>
                            <li><a href="#">Handin: Make sure SQL document is up-to-date(X)</a></li>
                            <li><a href="#">Handin: Update ERD for SQL, it's been modified(X)</a></li>
                            <li><a href="#">Handin: Documentation on how to install this project(M)</a></li>
                            <li><a href="#">Handin: Review functional checklist(X+M+N)</a></li>
                            <li><a href="#">Handin: Formatting(M)</a></li>
                            <li><a href="#">Handin: Packaging(M)</a></li>
                            <li><a href="#">Handin: Change user/admin name and password(N)</a></li>
                            <li><a href="#">Add ReadMe on Github/Packaging guide(M)</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
                @*<div class="row">
                        <div class="col-lg-6">
                            <div id="piechart" style="width: 550px; height: 500px;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Activity History</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <span class="badge">just now</span>
                                            List status updated
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">4 minutes ago</span>
                                            Complete a list item
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">23 minutes ago</span>
                                            Invite people to a list
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">46 minutes ago</span>
                                            Assign a collaborator of a list
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">1 hour ago</span>
                                            Subscribe a new list
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">2 hours ago</span>
                                            Become a collaborator of a list
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">yesterday</span>
                                            Complete a list
                                        </a>
                                    </div>
                                    <div class="text-right">
                                        <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- /.container-fluid -->
            </div>

            <div id="coupon" class="col-lg-4">
                <h3>Our Specials</h3>
                <span id='value1'>
                   <i class="fa fa-refresh" aria-hidden="true"></i>Loading coupons 
                </span>
            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
</div>
</main>
