
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/app.js"></script>
<script>
    window.onload = function ()
    {
      getCoupons();
      var timer=  setInterval(getCoupons, 30000);

    }
</script>
@*<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['List Catagory', 'Number'],
          ['Work', 11],
          ['Family', 8],
          ['Social', 4],
          ['Others', 4]
        ]);

        var options = {
            title: 'My List Status'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>*@
<div class="col-md-12">
   
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            Hey, @Html.Raw(User.Identity.Name)
                        </h2>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row" id="listType">
                    <div class="col-md-12 col-sm-12">
                        @*<div class="big-button">@Html.ActionLink("List Managment", "ListManagement", "Home")</div>
                        <div class="big-button">@Html.ActionLink("Item Mangement", "ItemManagement", "Item")</div>
                        <div class="big-button">@Html.ActionLink("Subscriber Management", "SubscriberGroupManagement", "Subscriber")</div>*@
                        <h4>To Do</h4>
                        <ul>
                            <li><a href="#">Brainstorm What to show on dashboard page</a></li>
                            <li><a href="#">Not to show expired coupons from API</a></li>
                            <li><a href="#">CSS: mobile responsive</a></li>
                            <li><a href="#">Add Validation/Error message for all</a></li>
                            <li><a href="#">User Profile Edit currently not server side validation</a></li>
                            <li><a href="#">Dummy Data cleanup in DB</a></li>
                            <li><a href="#">Clean up codes</a></li>
                            <li><a href="#">Organize code with repos</a></li>
                        </ul>
                        <h4>Nice-To-Have</h4>
                        <ul>
                            <li><a href="#">Sorting for all tables</a></li>
                            <li><a href="#">Loading icon for the specials while it loads</a></li>
                            <li><a href="#">Add scroll to API part</a></li>
                            <li><a href="#">Pagination on all Tables</a></li>
                            <li><a href="#">Add 'active' class to main nav state</a></li>
                            <li><a href="#">Force footer to show up at the btm of the page</a></li>
                            <li><a href="#">Assign Roles -> generate roles from db to dropdown</a></li>
                            <li><a href="#">Make sure all users need to fill in first and last names</a></li>
                            <li><a href="#">Fix typo in database</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
                @*<div class="row">
                        <div class="col-lg-6">
                            <div id="piechart" style="width: 550px; height: 500px;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Activity History</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <span class="badge">just now</span>
                                            List status updated
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">4 minutes ago</span>
                                            Complete a list item
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">23 minutes ago</span>
                                            Invite people to a list
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">46 minutes ago</span>
                                            Assign a collaborator of a list
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">1 hour ago</span>
                                            Subscribe a new list
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">2 hours ago</span>
                                            Become a collaborator of a list
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">yesterday</span>
                                            Complete a list
                                        </a>
                                    </div>
                                    <div class="text-right">
                                        <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- /.container-fluid -->
            </div>

            <div id="coupon" class="col-lg-4">
                <h3>Our Specials</h3>
                <span id='value1'><br /></span>
            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
</div>
