<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/app.js"></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div>
        <h1>Welcome to the OneList!</h1>
        <h4>Check Out Our<a href="~/Home/GetDesignDocument"> Design Document</a></h4>
    </div>
    <p>Your ultimate solution to organize daily tasks, OneList can help increase efficency, register today for free.</p>
    <table class="table">
        <thead>
            <tr>
                <th>User Role</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Admin</td>
                <td>Max</td>
                <td>111111</td>
            </tr>
            <tr>
                <td>User</td>
                <td>user</td>
                <td>111111</td>
            </tr>
        </tbody>
    </table>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Register", "Home")" role="button">Register Now</a></p>
    <p class="text-success">Latest Build - @ViewBag.date</p>
</div>
