
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainDiv" >
    <div class="row">
    <h2 class="col-lg-4 col-lg-offset-4 col-xs-12" id="title">Welcome to the OneList!</h2>
    <a class="col-lg-4 col-lg-offset-4 col-xs-12" href="~/Home/GetDesignDocument">Design Document</a>
    <p class="col-lg-6 col-lg-offset-3 col-xs-12">OneList provides the ultimate solution for creating lists.</p>
    
    <br />

    <button class="btn btn-primary col-lg-2 col-lg-offset-5 col-xs-12" onclick="location.href='@Url.Action("Login", "Home")';return false;">Create an Account</button>
    <br />
    <p class="col-lg-4 col-lg-offset-4 col-xs-12">Latest Build - @ViewBag.date</p>
    </div>
</div>
