
@{
    ViewBag.Title = "ListManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Management</h2>

<ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="#">List Management</a></li>
    <li role="presentation"><a href="#">Create List</a></li>
    <li role="presentation"><a href="#">Activity Log</a></li>
</ul>

<table class="table table-inverse">
    <thead>
        <tr>
            <th>List ID</th>
            <th>List Name</th>
            <th>Date</th>
            <th>List Type</th>
            <th>Subscribers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>My Grocery</td>
            <td>June 24, 2016</td>
            <td>Grocery</td>
            <td>Greg, Alan ...</td>
        </tr>
        <tr>
            <td>2</td>
            <td>House Repair</td>
            <td>Sep 24, 2016</td>
            <td>To Do</td>
            <td>Alice, Alan ...</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Science Project</td>
            <td>Dec 24, 2016</td>
            <td>Task</td>
            <td>Greg, Alan ...</td>
        </tr>
    </tbody>
</table>

