
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post, new { @class = "col-lg-4 col-lg-offset-4" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
            <div class="form-group">
                @*<label>Password:</label>*@
                <input type="text" name="password" class="form-control" placeholder="Password"/><br>
                @*<label>Password Confirm:</label>*@
                <input type="text" name="passwordConfirm" class="form-control" placeholder="Confirm Password" /><br />                <input type="submit" value="Submit" />
                <input type="hidden" name="passwordToken" value="@ViewBag.PasswordToken" />
                <input type="hidden" name="userID" value="@ViewBag.UserID" />
          </div>
        </div>
}
@Html.Raw(ViewBag.Result)