<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            @Html.ActionLink("Home", "Home", "Home")
        </li>
        <li>
            @Html.ActionLink("List", "ListManagement", "List")
        </li>
        <li>
            <a href="tables.html"><i class="fa fa-fw fa-table"></i>Items</a>
        </li>
        <li>
            <a href="forms.html"><i class="fa fa-fw fa-users"></i>Subscriber</a>
        </li>
        <li>
            @Html.ActionLink("Profile", "Index", "Profile")
        </li>
    </ul>
</div>

