
@{
    ViewBag.Title = "AddSubscriber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Home/Sidebar.cshtml");

<div class="col-sm-offset-2">
    <h2>Add New Subscriber</h2>
    @Html.Partial("~/Views/Subscriber/SubscriberTab.cshtml");



</div>