
@{
    ViewBag.Title = "SubGroupDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Subscriber/_SubscriberSideBar.cshtml")
<div class="col-md-10">
    <h2>Family Group Details</h2>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Group Subscribers</th>
                <th>Subscriber Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Greg Willow</td>
                <td>Subscriber</td>
            </tr>
            <tr>
                <td>Alan Wong</td>
                <td>Subscriber</td>
            </tr>
            <tr>
                <td>Alice Smith</td>
                <td>Collaborator</td>
            </tr>
        </tbody>
    </table>
  
   @Html.ActionLink("Back to Subscriber Groups", "SubscriberManagement", "Home", null, new { @class = "btn btn-primary" })

</div>