
@{
    ViewBag.Title = "ItemGroupManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Item/_ItemPageTopNav.cshtml")
<div class="col-md-10">
    <h2>Avaliable Item Groups</h2>
    <div>
        <ul id="avaItems" ondragstart="">
            <li draggable="true">@Html.ActionLink("Grocery Items", "ItemGroupDetail", "Item")</li>
            <li draggable="true">@Html.ActionLink("Stationary", "ItemGroupDetail", "Item")</li>
            <li draggable="true">@Html.ActionLink("Bill Items", "ItemGroupDetail", "Item")</li>
        </ul>
        <a class="btn btn-primary col-lg-2 col-lg-offset-4" href="CreateItemGroup">Add New</a>
    </div>
</div>