
@{
    ViewBag.Title = "ItemGroupDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Item/_ItemPageTopNav.cshtml")
<div class="col-md-10">
    <h2>Edit Item Group</h2>
    <form>
        <div class="form-group">
            <label for="list-title" class="col-xs-2 col-form-label">Group Name</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="list-title" aria-describedby="emailHelp" placeholder="Grocery Items" required>
            </div>
        </div><br />
        <div class="form-group">
            <label for="subscriberTextarea" class="col-xs-2 col-form-label">Description</label>
            <div class="col-xs-10">
                <textarea class="form-control" id="subscriberTextarea" rows="4">List of weekly grocery items for shopping </textarea>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
